.loginContainer{
    margin: 100px auto;
    width: 500px;
    height: 500px;
}

.loginTitle{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.loginBox{
    height: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    box-sizing: border-box;
    vertical-align: middle;
}

