.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}

.cardTitle {
    height: 10%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

.cardImage {
    text-align: center;
    padding: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.cardImageFile {
    height: 200px;
    width: 100%;
    object-fit: scale-down;
}

.cardBottom {
    height: 30%;
    margin-top: 10px;
    border-radius: 20px;
    background: #2BD9AF;
    text-align: center;
    padding: 10px 20px;
}

.cardPrice {
    color: #0E42FD;
    font-size: large;
    font-weight: bold;
}

.women {
    background-color: #FF5E84;
}

.men {
    background-color: #2BD9AF;
}